{% extends "base.html" %}
{% block title %}Add Credential{% endblock %}

{% block content %}
<div class="auth-wrapper">

  <div class="auth-card wide">
    <h3>ADD CREDENTIAL</h3>
    <p class="auth-subtext">Store encrypted secret in vault</p>

    <form method="POST">

      <input type="text"
             name="website"
             placeholder="WEBSITE / APPLICATION"
             required>

      <input type="text"
             id="password"
             name="password"
             placeholder="PAASWORD"
             required>

      <input type="text"
             name="category"
             placeholder="CATEGORY (OPTIONAL)">

      <div class="form-actions">
        <button type="button"
                class="secondary-btn"
                onclick="generatePassword()">
          GENERATE
        </button>

        <button type="submit"
                class="primary-btn">
          SAVE TO VAULT
        </button>
      </div>

    </form>
  </div>

</div>
{% endblock %}
